[Unit]
Description=pictoclone-server
After=network.target

[Service]
Type=simple
User=pictoclone
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=node index.js
WorkingDirectory=/home/pictoclone/pictoclone-server
#Restart=on-failure
Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
